@use "variables" as *;

@mixin displayInactive{
     img{
         scale: 0.8;
     }
     
     .titletext{
         display: none;
     }
     .xmb-contents{
         display:none;
     } 
}

@mixin displayActive{
    img{
         scale: 1.0;
     }
     
     .titletext{
         display: inherit;
     }
     .xmb-contents{
         display: inherit;
     } 
}

@mixin glowKeyframes{
    animation: $glowtext;
    @keyframes glow {
       from {
         text-shadow: 0 0 1px #d3d3d3, 0 0 2px #acacac, 0 0 2px #b1afaf, 0 0 5px #9b9b9b;
       }
       to {
         text-shadow: 0 0 5px #dfdfdf, 0 0 8px #c9c9c9, 0 0 15px #b6b6b4, 0 0 20px #b9b9b9;
       }
    }
}

@mixin bgStyling{
     position: absolute;
     z-index: -1;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     transition: opacity 300ms;
}

@mixin scrollDown{
    margin-top: -300px;
    margin-bottom: 200px;
    .subtext{
        opacity: 0;
    }

}

@mixin popAnim{
    @keyframes pop{
        50%  {transform: scale(1.1);}
    }
}