$background-aboutbg: -webkit-linear-gradient(253deg, rgba(46,29,158,1) 0%, rgba(21,18,84,1) 72%);
$backround-aboutwrapper: -webkit-linear-gradient(253deg, rgba(21,18,84,1) 10%, rgba(0,0,0,1) 100%);
$shadowtext: 2px 2px 5px black;
$shadowimage: drop-shadow(0 0 0.25rem black);
$glowtext: glow 1s ease-in-out infinite alternate;