@use "../abstract/" as *;

.xmb-title{
    &.messages{
        @include displayInactive;
        margin-left: 65px;
        &.active{
            margin-left: 60px;
            transition: all 300ms ease-in-out;
            @include displayActive;
            .xmb-contents{
                margin-right: 24px
            }
        }
    }
}